@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100,50..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
}
body {
  width: 100%;
  height: 100%;
}
/* title class */
.title {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 490;
  font-size: 3rem;
}
/* span title */
.span-title {
  color: rgb(54, 54, 186);
}
/* Service classes here */
#school-main {
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
  /* background: #000; */
}
/* school-features-content class  */
.school-features-content {
  width: fit-content;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  /* background-color: Gray; */
}
/*  overlay-container  class */
.overlay-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
}
/* image class */
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: 1.7rem;
  line-height: 2rem;
}
/* text class */
.text {
  /* padding: 3rem; */
  color: #fff;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  font-size: 20px;
  transition: translate(-50%, -50%);
}
/* paragraph */
p {
  font-size: 1rem;
}

/*Initial overlay setup*/
.overlay {
  margin-bottom: 1rem;
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
  background: rgba(246, 73, 114, 0.9);
}

/*All overlay fade-in*/
.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay-cross {
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
}

.overlay-container:hover .overlay-cross {
  width: 100%;
  height: 90%;
}

.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
/* for large and tablate screen */

@media only screen and (min-width: 1142px) {
    .school-features-content {
      display: flex;
      flex-direction: row;
      margin-left: 2rem;
      margin-right: 2rem;
   } 
   } 

@media only screen and (max-width: 768px) {
  .school-features-content {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}


/* Mobile */
@media only screen and (max-width: 480px) {
  .school-features-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .title {
    font-size: 1.6rem;
  }
}
